.form-div {
  background-color: #beebe9;
  padding: 3rem;
  align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.form-input {
  width: 16rem;
  margin: 1rem;
}

.form-btn {
  width: 16rem;
  margin: 1rem;
}

.form-file-input {
  width: 16rem;
  margin: 1rem;
}
